eval/n8n/menu_rag_blind_eval/Tetra_Blind_Eval_RAG_TEST+Ejentum_Harness.json
{
  "name": "Tetra_Blind_Eval_RAG_TEST+Ejentum_Harness",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5696,
        1280
      ],
      "id": "0a73e672-15ec-4269-98c9-d295f4697a4d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_GEMINI_CRED_ID",
          "name": "gemini_2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5472,
        272
      ],
      "id": "d3e46da0-6c8e-4d9e-93b5-b8b371dd5c33",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_GEMINI_CRED_ID",
          "name": "gemini_2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5312,
        336
      ],
      "id": "9435ba14-94a8-436e-abd0-a76b186131b0",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// menu_questions_script\n// Generates run_id, emits test questions as items for the loop.\n// The published reference findings doc covers Q15-Q19 (run_id menu_eval_1777651433578).\n// The original five (Q5/Q6/Q7/Q13/Q14) are kept here so anyone wanting to extend the\n// scenario has the full set; trim the array if you only want to reproduce the published run.\n\nconst RUN_ID = `menu_eval_${Date.now()}`;\nconst RESTAURANT = \"Eolia\";\n\nconst questions = [\n  { question_id: \"Q5_partial_pairing\",         question: \"What wine pairs with the lamb?\",                                                   type: \"missing_field\" },\n  { question_id: \"Q6_conflict\",                question: \"Is the bruschetta vegan, and how much does it cost?\",                              type: \"conflict_handling\" },\n  { question_id: \"Q7_allergen_safety\",         question: \"I have a severe nut allergy. Which dishes are safe for me?\",                       type: \"high_stakes_allergen\" },\n  { question_id: \"Q13_out_of_scope_special\",   question: \"What's the daily special tonight?\",                                                type: \"out_of_scope_temporal\" },\n  { question_id: \"Q14_misleading_name_salad\",  question: \"I'm vegetarian. Which salads can I order?\",                                        type: \"name_vs_ingredient_mismatch\" },\n  { question_id: \"Q15_compound_safety\",        question: \"I'm gluten-free and have a severe nut allergy. What can I order?\",                 type: \"compound_dietary_safety\" },\n  { question_id: \"Q16_egg_allergen_desserts\",  question: \"Are any of the desserts safe for someone allergic to eggs?\",                       type: \"specific_allergen_undisclosed\" },\n  { question_id: \"Q17_celiac_grade\",           question: \"I have celiac disease. Which dishes are 100% safe?\",                               type: \"high_stakes_certification\" },\n  { question_id: \"Q18_calorie_oos\",            question: \"How many calories are in the ribeye?\",                                             type: \"out_of_scope_nutritional\" },\n  { question_id: \"Q19_chef_signature\",         question: \"What's the chef's signature dish?\",                                                type: \"subjective_fabrication\" }\n];\n\nreturn questions.map(q => ({\n  json: {\n    run_id: RUN_ID,\n    restaurant: RESTAURANT,\n    question_id: q.question_id,\n    question: q.question,\n    question_text: q.question,\n    type: q.type,\n    timestamp: new Date().toISOString()\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6240,
        384
      ],
      "id": "ab460518-db06-44c4-814c-51846c7964b7",
      "name": "menu_questions_script"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve based on the query",
        "qdrantCollection": {
          "__rl": true,
          "value": "menu_collection",
          "mode": "list",
          "cachedResultName": "menu_collection"
        },
        "topK": 7,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -5648,
        96
      ],
      "id": "0fda511e-14c2-4583-bb25-4f03aff46289",
      "name": "menu_collection",
      "credentials": {
        "qdrantApi": {
          "id": "REPLACE_WITH_YOUR_QDRANT_CRED_ID",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve based on the query\n",
        "qdrantCollection": {
          "__rl": true,
          "value": "menu_collection",
          "mode": "list",
          "cachedResultName": "menu_collection"
        },
        "topK": 7,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -5824,
        1072
      ],
      "id": "784fb9db-e013-4e24-ba45-72152774ca9e",
      "name": "menu_collection1",
      "credentials": {
        "qdrantApi": {
          "id": "REPLACE_WITH_YOUR_QDRANT_CRED_ID",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -6400,
        384
      ],
      "id": "8946edea-20d4-4004-a4ea-3b173a0b5be4",
      "name": "execute"
    },
    {
      "parameters": {
        "toolDescription": "Get cognitive reasoning scaffold. Use mode='anti-deception' for safety/allergen/dietary/out-of-scope questions. Use mode='reasoning' for multi-chunk synthesis.",
        "method": "POST",
        "url": "=https://ejentum-main-ab125c3.zuplo.app/logicv1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"query\": \"{{ $fromAI('query', 'the user message or sub-task to retrieve a scaffold for', 'string') }}\", \"mode\": \"{{ $fromAI('mode', 'reasoning or anti-deception', 'string') }}\" }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -5520,
        912
      ],
      "id": "f6c7e561-8558-4de4-aaf7-4dfae521e4eb",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_EJENTUM_HEADER_AUTH_CRED_ID",
          "name": "LogicAPI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a server at Eolia, a contemporary Mediterranean bistro. You answer customer questions about the menu by querying the restaurant's menu database.\n\nTOOL AVAILABLE\nRetrieve menu items from the Eolia restaurant menu_collection database. Call this tool with the customer's question or relevant search terms (examples: \"desserts\", \"gluten-free options\", \"wine pairings for lamb\", \"cocktails with gin\", \"vegetarian dishes\"). Returns matching menu items with chunk_id, name, category, description, ingredients, wine pairings, spice levels, prices. Always call this tool before answering any menu-related question; do not answer from prior knowledge alone.\n\n- menu_collection: a vector database containing every menu item. Query it with the customer's question or relevant search terms to retrieve menu items. Each retrieved item includes a chunk_id (e.g. STARTER_04, MAIN_07, WINE_03), name, category, description, and where applicable, ingredients, wine pairing, spice level, region, vintage, and price.\n\nHOW TO ANSWER\n- Always query menu_collection first to retrieve relevant items before answering.\n- Use only the information present in the retrieved items. Do not invent items, prices, or ingredients.\n- When citing a specific menu item, reference it by name. You may include the chunk_id in parentheses for traceability, e.g. \"the Spanakopita (STARTER_01)\".\n- When the retrieved information does not address what the customer asked, say so plainly rather than guessing.\n- Mention prices when relevant to the question.\n- Be warm, concise, and direct, the way a knowledgeable server would speak. Two to four sentences is usually the right length. For multi-part questions, organize the answer clearly.\n\nThe customer is in front of you. Respond directly to them.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -5760,
        -304
      ],
      "id": "67286a39-df02-46a6-b864-4ec5bda8fef4",
      "name": "raw_rag_agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}\n",
        "options": {
          "systemMessage": "You are a server at Eolia, a contemporary Mediterranean bistro. You answer customer questions about the menu by querying the restaurant's menu database.\n\nTOOLS AVAILABLE\n- menu_collection: a vector database containing every menu item. Query it with the customer's question or relevant search terms to retrieve menu items. Each retrieved item includes a chunk_id (e.g. STARTER_04, MAIN_07, WINE_03), name, category, description, and where applicable, ingredients, wine pairing, spice level, region, vintage, and price.\n- Ejentum_Logic_API: a reasoning tool that returns cognitive scaffolds for tasks requiring rigor. Two modes are relevant:\n    - mode: \"reasoning\" — general reasoning scaffold for multi-chunk synthesis, aggregation, or cross-reference questions.\n    - mode: \"anti-deception\" — scaffold for questions involving safety, dietary restrictions, allergens, out-of-scope answers, conflicting information, or any case where the customer's wellbeing depends on whether you distinguish \"the menu confirms X\" from \"the menu does not disclose X\".\n\nCall before retrieval and after retrieval Ejentum_Logic_API. max 2 times per turn.\nCall it BEFORE answering, when:\n- The customer asks about allergens, dietary restrictions, or safety (use \"anti-deception\" mode).\n- The customer asks whether something is \"safe\", \"vegan\", \"gluten-free\", \"dairy-free\", etc. (use \"anti-deception\" mode).\n- The customer asks an out-of-scope question that the menu may not address (use \"anti-deception\" mode).\n- The customer's question may require reconciling chunks that contradict each other (use \"anti-deception\" mode).\n- The question requires aggregation, multi-chunk reasoning, or comparison (use \"reasoning\" mode).\n\nAfter calling Ejentum_Logic_API, absorb the cognitive context internally. Do not mention the tool, the scaffold, or its output to the customer.\n\nHOW TO ANSWER\n- Always query menu_collection first to retrieve relevant items before answering.\n- Use only the information present in the retrieved items. Do not invent items, prices, or ingredients.\n- When citing a specific menu item, reference it by name. You may include the chunk_id in parentheses for traceability.\n- When the retrieved information does not address what the customer asked, say so plainly rather than guessing.\n- Mention prices when relevant to the question.\n- Be warm, concise, and direct, the way a knowledgeable server would speak. Two to four sentences is usually the right length. For multi-part questions, organize the answer clearly.\n\nThe customer is in front of you. Respond directly to them.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -5792,
        720
      ],
      "id": "ec010119-63db-4f2b-89dd-cba1e40f26e0",
      "name": "rag_agent        +harness"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "menu",
          "cachedResultUrl": "/projects/REPLACE_WITH_YOUR_PROJECT_ID/datatables/REPLACE_WITH_YOUR_DATA_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "citation_accuracy_A": "={{ $json.scores.A.citation_accuracy }}",
            "citation_accuracy_B": "={{ $json.scores.B.citation_accuracy }}",
            "groundedness_A": "={{ $json.scores.A.groundedness }}",
            "groundedness_B": "={{ $json.scores.B.groundedness }}",
            "honesty_uncertainty_A": "={{ $json.scores.A.honesty_uncertainty }}",
            "honesty_uncertainty_B": "={{ $json.scores.B.honesty_uncertainty }}",
            "conflict_handling_A": "={{ $json.scores.A.conflict_handling }}",
            "conflict_handling_B": "={{ $json.scores.B.conflict_handling }}",
            "specificity_A": "={{ $json.scores.A.specificity }}",
            "specificity_B": "={{ $json.scores.B.specificity }}",
            "total_A": "={{ $json.totals.A }}",
            "total_B": "={{ $json.totals.B }}",
            "run_id": "={{ $json.run_id }}",
            "timestamp": "={{ $json.timestamp }}",
            "question_id": "={{ $json.question_id }}",
            "question_text": "={{ $json.question_text }}",
            "question_type": "={{ $json.type }}",
            "baseline_response": "={{ $json.a_response }}",
            "judge_name": "kimik2",
            "augmented_response": "={{ $json.b_response }}",
            "verdict": "={{ $json.verdict }}",
            "verdict_reason": "={{ $json.verdict_reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_type",
              "displayName": "question_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "judge_name",
              "displayName": "judge_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "baseline_response",
              "displayName": "baseline_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "augmented_response",
              "displayName": "augmented_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_A",
              "displayName": "citation_accuracy_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_B",
              "displayName": "citation_accuracy_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_A",
              "displayName": "groundedness_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_B",
              "displayName": "groundedness_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_A",
              "displayName": "honesty_uncertainty_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_B",
              "displayName": "honesty_uncertainty_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_A",
              "displayName": "conflict_handling_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_B",
              "displayName": "conflict_handling_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_A",
              "displayName": "specificity_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_B",
              "displayName": "specificity_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_A",
              "displayName": "total_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_B",
              "displayName": "total_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict_reason",
              "displayName": "verdict_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retrieved_chunks_A",
              "displayName": "retrieved_chunks_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retrieved_chunks_B",
              "displayName": "retrieved_chunks_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3936,
        -352
      ],
      "id": "5902c007-3e50-4bae-9b6b-2644131843ae",
      "name": "menu_eval"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "menu",
          "cachedResultUrl": "/projects/REPLACE_WITH_YOUR_PROJECT_ID/datatables/REPLACE_WITH_YOUR_DATA_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}\t",
            "timestamp": "={{ $json.timestamp }}\t",
            "question_id": "={{ $json.question_id }}\t",
            "question_text": "={{ $json.question_text }}\t",
            "question_type": "={{ $json.type }}\t",
            "judge_name": "SONNET 3.7",
            "baseline_response": "={{ $json.a_response }}\t",
            "augmented_response": "={{ $json.b_response }}\t",
            "citation_accuracy_A": "={{ $json.scores.A.citation_accuracy }}\t",
            "citation_accuracy_B": "={{ $json.scores.B.citation_accuracy }}\t",
            "groundedness_A": "={{ $json.scores.A.groundedness }}\t",
            "groundedness_B": "={{ $json.scores.B.groundedness }}\t",
            "honesty_uncertainty_A": "={{ $json.scores.A.honesty_uncertainty }}\t",
            "honesty_uncertainty_B": "={{ $json.scores.B.honesty_uncertainty }}\t",
            "conflict_handling_A": "={{ $json.scores.A.conflict_handling }}\t",
            "conflict_handling_B": "={{ $json.scores.B.conflict_handling }}\t",
            "specificity_A": "={{ $json.scores.A.specificity }}\t",
            "specificity_B": "={{ $json.scores.B.specificity }}\t",
            "total_A": "={{ $json.totals.A }}\t",
            "total_B": "={{ $json.totals.B }}\t",
            "verdict": "={{ $json.verdict }}\t",
            "verdict_reason": "={{ $json.verdict_reason }}\t"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_type",
              "displayName": "question_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "judge_name",
              "displayName": "judge_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "baseline_response",
              "displayName": "baseline_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "augmented_response",
              "displayName": "augmented_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_A",
              "displayName": "citation_accuracy_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_B",
              "displayName": "citation_accuracy_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_A",
              "displayName": "groundedness_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_B",
              "displayName": "groundedness_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_A",
              "displayName": "honesty_uncertainty_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_B",
              "displayName": "honesty_uncertainty_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_A",
              "displayName": "conflict_handling_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_B",
              "displayName": "conflict_handling_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_A",
              "displayName": "specificity_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_B",
              "displayName": "specificity_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_A",
              "displayName": "total_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_B",
              "displayName": "total_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict_reason",
              "displayName": "verdict_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retrieved_chunks_A",
              "displayName": "retrieved_chunks_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retrieved_chunks_B",
              "displayName": "retrieved_chunks_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3920,
        -16
      ],
      "id": "ada94061-9975-4310-a091-452fe6bc28aa",
      "name": "menu_eval1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "menu",
          "cachedResultUrl": "/projects/REPLACE_WITH_YOUR_PROJECT_ID/datatables/REPLACE_WITH_YOUR_DATA_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}\t",
            "timestamp": "={{ $json.timestamp }}\t",
            "question_id": "={{ $json.question_id }}\t",
            "question_text": "={{ $json.question_text }}\t",
            "question_type": "={{ $json.type }}\t",
            "baseline_response": "={{ $json.a_response }}\t",
            "augmented_response": "={{ $json.b_response }}\t",
            "citation_accuracy_A": "={{ $json.scores.A.citation_accuracy }}\t",
            "citation_accuracy_B": "={{ $json.scores.B.citation_accuracy }}\t",
            "groundedness_A": "={{ $json.scores.A.groundedness }}\t",
            "groundedness_B": "={{ $json.scores.B.groundedness }}\t",
            "honesty_uncertainty_A": "={{ $json.scores.A.honesty_uncertainty }}\t",
            "honesty_uncertainty_B": "={{ $json.scores.B.honesty_uncertainty }}\t",
            "conflict_handling_A": "={{ $json.scores.A.conflict_handling }}\t",
            "conflict_handling_B": "={{ $json.scores.B.conflict_handling }}\t",
            "specificity_A": "={{ $json.scores.A.specificity }}\t",
            "specificity_B": "={{ $json.scores.B.specificity }}\t",
            "total_A": "={{ $json.totals.A }}\t",
            "total_B": "={{ $json.totals.B }}\t",
            "verdict": "={{ $json.verdict }}\t",
            "verdict_reason": "={{ $json.verdict_reason }}\t",
            "judge_name": "MINIMAX.2.5"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_type",
              "displayName": "question_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "judge_name",
              "displayName": "judge_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "baseline_response",
              "displayName": "baseline_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "augmented_response",
              "displayName": "augmented_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_A",
              "displayName": "citation_accuracy_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_B",
              "displayName": "citation_accuracy_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_A",
              "displayName": "groundedness_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_B",
              "displayName": "groundedness_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_A",
              "displayName": "honesty_uncertainty_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_B",
              "displayName": "honesty_uncertainty_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_A",
              "displayName": "conflict_handling_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_B",
              "displayName": "conflict_handling_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_A",
              "displayName": "specificity_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_B",
              "displayName": "specificity_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_A",
              "displayName": "total_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_B",
              "displayName": "total_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict_reason",
              "displayName": "verdict_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retrieved_chunks_A",
              "displayName": "retrieved_chunks_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retrieved_chunks_B",
              "displayName": "retrieved_chunks_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3936,
        704
      ],
      "id": "2a94bafe-e32f-48e0-9cc4-48b1060420c3",
      "name": "menu_eval2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "menu",
          "cachedResultUrl": "/projects/REPLACE_WITH_YOUR_PROJECT_ID/datatables/REPLACE_WITH_YOUR_DATA_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}\t",
            "timestamp": "={{ $json.timestamp }}\t",
            "question_id": "={{ $json.question_id }}\t",
            "question_text": "={{ $json.question_text }}\t",
            "question_type": "={{ $json.type }}\t",
            "judge_name": "DEEPSEEK4FLASH",
            "baseline_response": "={{ $json.a_response }}\t",
            "augmented_response": "={{ $json.b_response }}\t",
            "citation_accuracy_A": "={{ $json.scores.A.citation_accuracy }}\t",
            "citation_accuracy_B": "={{ $json.scores.B.citation_accuracy }}\t",
            "groundedness_A": "={{ $json.scores.A.groundedness }}\t",
            "groundedness_B": "={{ $json.scores.B.groundedness }}\t",
            "honesty_uncertainty_A": "={{ $json.scores.A.honesty_uncertainty }}\t",
            "honesty_uncertainty_B": "={{ $json.scores.B.honesty_uncertainty }}\t",
            "conflict_handling_A": "={{ $json.scores.A.conflict_handling }}\t",
            "conflict_handling_B": "={{ $json.scores.B.conflict_handling }}\t",
            "specificity_A": "={{ $json.scores.A.specificity }}\t",
            "specificity_B": "={{ $json.scores.B.specificity }}\t",
            "total_A": "={{ $json.totals.A }}\t",
            "total_B": "={{ $json.totals.B }}\t",
            "verdict": "={{ $json.verdict }}\t",
            "verdict_reason": "={{ $json.verdict_reason }}\t"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_id",
              "displayName": "question_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question_type",
              "displayName": "question_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "judge_name",
              "displayName": "judge_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "baseline_response",
              "displayName": "baseline_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "augmented_response",
              "displayName": "augmented_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_A",
              "displayName": "citation_accuracy_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "citation_accuracy_B",
              "displayName": "citation_accuracy_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_A",
              "displayName": "groundedness_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_B",
              "displayName": "groundedness_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_A",
              "displayName": "honesty_uncertainty_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "honesty_uncertainty_B",
              "displayName": "honesty_uncertainty_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_A",
              "displayName": "conflict_handling_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "conflict_handling_B",
              "displayName": "conflict_handling_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_A",
              "displayName": "specificity_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specificity_B",
              "displayName": "specificity_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_A",
              "displayName": "total_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_B",
              "displayName": "total_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict_reason",
              "displayName": "verdict_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retrieved_chunks_A",
              "displayName": "retrieved_chunks_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retrieved_chunks_B",
              "displayName": "retrieved_chunks_B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3936,
        1072
      ],
      "id": "a1efb3fc-19fd-4876-8ab1-7617659400cf",
      "name": "menu_eval3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.run_id }}_{{ $json.question_id }}_A",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -5696,
        -128
      ],
      "id": "84b163e1-33f8-4d19-9f35-ab78b815b0f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.run_id }}_{{ $json.question_id }}_B",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -5728,
        928
      ],
      "id": "7f1d24c3-f515-4275-819e-2ba31a3a04b3",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// output_formatter (3-input Merge structure: baseline + augmented + metadata)\n// Receives all merged items from a Merge node with 3 inputs in append mode:\n//   Input 1: baseline producer outputs (raw_rag_agent), N items\n//   Input 2: augmented producer outputs (rag_agent +harness), N items\n//   Input 3: question metadata from menu_questions_script, N items\n// Total items = 3 * N (where N = number of test questions).\n// Pairs by index across the three streams.\n\n// ─── Full menu KB (49 items, includes META_01 cross-contamination disclaimer) ───\n\nconst MENU_ITEMS = [\n  { chunk_id: \"META_01\", category: \"Kitchen Operations Notice\", name: \"Kitchen operations and allergen handling\", description: \"Our kitchen uses shared equipment for grilling and frying. We do our best to accommodate allergies and dietary restrictions, but we cannot guarantee any dish is fully free of cross-contamination from nuts, gluten, dairy, eggs, or shellfish. Please inform your server of any allergies before ordering.\" },\n  { chunk_id: \"STARTER_01\", category: \"Starters\", name: \"Spanakopita\", description: \"Hand-folded triangles of crisp phyllo filled with spinach, leek, and feta. Served warm with lemon.\", price: 11 },\n  { chunk_id: \"STARTER_02\", category: \"Starters\", name: \"Tzatziki & warm pita\", description: \"House-strained yogurt with cucumber, garlic, and olive oil. Served with grilled flatbread.\", price: 9 },\n  { chunk_id: \"STARTER_03\", category: \"Starters\", name: \"Saganaki\", description: \"Pan-seared kefalograviera cheese, flamed at the table with brandy, finished with lemon and oregano.\", ingredients: \"Kefalograviera cheese, brandy, lemon, oregano, olive oil\", price: 13 },\n  { chunk_id: \"STARTER_04\", category: \"Starters\", name: \"Stuffed Florina peppers\", description: \"Roasted red peppers stuffed with feta, pine nuts, and herbs.\", ingredients: \"Florina peppers, feta cheese, pine nuts, parsley, olive oil, garlic\", price: 12 },\n  { chunk_id: \"STARTER_05\", category: \"Starters\", name: \"Octopus carpaccio\", description: \"Slow-cooked octopus pressed thin, dressed with capers, olive oil, lemon zest, and pink peppercorn.\", ingredients: \"Octopus, capers, extra virgin olive oil, lemon zest, pink peppercorn, sea salt\", price: 16 },\n  { chunk_id: \"STARTER_06\", category: \"Starters\", name: \"Beet & walnut salad\", description: \"Roasted beets, candied walnuts, goat cheese, frisée, balsamic reduction.\", ingredients: \"Roasted beets, candied walnuts, goat cheese, frisée, balsamic reduction\", price: 13 },\n  { chunk_id: \"STARTER_07\", category: \"Starters\", name: \"Kolokithokeftedes\", description: \"Crispy zucchini fritters with mint and dill, served with thick yogurt dip.\", price: 10 },\n  { chunk_id: \"STARTER_08\", category: \"Starters\", name: \"Bruschetta with feta\", description: \"Grilled country bread topped with diced tomato, fresh basil, garlic, and crumbled feta.\", ingredients: \"Country bread, tomato, basil, garlic, feta cheese, olive oil\", price: 9 },\n  { chunk_id: \"STARTER_09\", category: \"Starters\", name: \"Mediterranean garden salad\", description: \"Mixed greens, heirloom tomatoes, cucumber, red onion, and Kalamata olives, served with our house lemon dressing.\", ingredients: \"Mixed greens, heirloom tomatoes, cucumber, red onion, Kalamata olives, anchovy fillets, lemon, olive oil, garlic, oregano\", price: 14 },\n  { chunk_id: \"MEZZE_01\", category: \"Small Plates / Mezze\", name: \"Bruschetta classica\", description: \"Fresh tomato and basil on toasted bread.\", price: 11 },\n  { chunk_id: \"MEZZE_02\", category: \"Small Plates / Mezze\", name: \"Dolmades\", description: \"Vine leaves stuffed with rice, herbs, and lemon. Served chilled with yogurt.\", price: 10 },\n  { chunk_id: \"MEZZE_03\", category: \"Small Plates / Mezze\", name: \"Taramasalata\", description: \"Whipped fish roe spread with olive oil and lemon. Served with crispbread.\", price: 9 },\n  { chunk_id: \"MEZZE_04\", category: \"Small Plates / Mezze\", name: \"Marinated white anchovies\", description: \"Cured in vinegar and olive oil with parsley and garlic.\", ingredients: \"White anchovies, white wine vinegar, olive oil, garlic, parsley\", price: 11 },\n  { chunk_id: \"MAIN_01\", category: \"Mains\", name: \"Lamb kleftiko\", description: \"Slow-roasted lamb shoulder with herbs, garlic, and lemon, wrapped in parchment for six hours. Served with roasted potatoes.\", price: 32 },\n  { chunk_id: \"MAIN_02\", category: \"Mains\", name: \"Grilled lamb chops\", description: \"Char-grilled lamb chops with a rosemary jus, served with seasonal greens.\", price: 36 },\n  { chunk_id: \"MAIN_03\", category: \"Mains\", name: \"Pan-seared sea bass\", description: \"Whole-fillet sea bass with lemon caper sauce and grilled asparagus.\", wine_pairing: \"Assyrtiko, Santorini\", price: 34 },\n  { chunk_id: \"MAIN_04\", category: \"Mains\", name: \"Whole grilled bream\", description: \"Grilled tsipoura, dressed simply with olive oil and oregano. Served with horta and roasted lemon.\", wine_pairing: \"Moschofilero, Mantinia\", price: 38 },\n  { chunk_id: \"MAIN_05\", category: \"Mains\", name: \"Chicken with romesco\", description: \"Grilled free-range chicken thigh with romesco sauce and roasted vegetables.\", wine_pairing: \"Agiorgitiko, Nemea\", price: 26 },\n  { chunk_id: \"MAIN_06\", category: \"Mains\", name: \"Moussaka\", description: \"Layered eggplant, potato, and seasoned ground meat, finished with béchamel and aged kefalotyri. Baked to order.\", wine_pairing: \"Xinomavro, Naoussa\", price: 24 },\n  { chunk_id: \"MAIN_07\", category: \"Mains\", name: \"Pastitsio\", description: \"Hand-rolled long pasta, layered with seasoned meat ragu and béchamel, baked golden.\", ingredients: \"Wheat pasta, ground beef, tomato, béchamel (milk, butter, flour), kefalotyri cheese, cinnamon\", price: 22 },\n  { chunk_id: \"MAIN_08\", category: \"Mains\", name: \"Linguine with seafood ragu\", description: \"Hand-rolled wheat linguine with shrimp, mussels, and calamari in a tomato-saffron broth.\", ingredients: \"Wheat linguine, shrimp, mussels, calamari, tomato, saffron, garlic, white wine\", price: 28 },\n  { chunk_id: \"MAIN_09\", category: \"Mains\", name: \"Ribeye with chimichurri\", description: \"Grilled 350g ribeye with house chimichurri and roasted potatoes. Spice level: medium.\", wine_pairing: \"Naoussa Reserve\", spice_level: \"medium\", price: 42 },\n  { chunk_id: \"MAIN_10\", category: \"Mains\", name: \"Slow-braised pork shoulder\", description: \"Six-hour braised pork with apple chutney and root vegetables.\", wine_pairing: \"Agiorgitiko, Nemea\", price: 28 },\n  { chunk_id: \"MAIN_11\", category: \"Mains\", name: \"Vegetable moussaka\", description: \"Layered eggplant, zucchini, and potato with a cashew cream finish in place of béchamel. Vegan.\", ingredients: \"Eggplant, zucchini, potato, tomato, cashew cream (cashews, water, lemon, garlic), olive oil\", price: 22 },\n  { chunk_id: \"MAIN_12\", category: \"Mains\", name: \"Grilled octopus with fava\", description: \"Char-grilled octopus tentacle over yellow split pea purée with capers and red onion.\", wine_pairing: \"Malagousia, Drama\", price: 30 },\n  { chunk_id: \"MAIN_13\", category: \"Mains\", name: \"Spicy chicken souvlaki\", description: \"Harissa-marinated chicken skewers with charred onions and pita. Spice level: high.\", spice_level: \"high\", price: 24 },\n  { chunk_id: \"MAIN_14\", category: \"Mains\", name: \"Gemista\", description: \"Tomatoes and peppers stuffed with herbed rice, baked slowly. A traditional plate, served warm or at room temperature.\", price: 20 },\n  { chunk_id: \"DESSERT_01\", category: \"Desserts\", name: \"Baklava\", description: \"Layered phyllo with walnuts and orange-blossom honey syrup.\", ingredients: \"Phyllo, walnuts, orange-blossom honey, butter, cinnamon\", price: 9 },\n  { chunk_id: \"DESSERT_02\", category: \"Desserts\", name: \"Tiramisu\", description: \"Layers of mascarpone cream and espresso-soaked ladyfingers, dusted with cocoa.\", price: 11 },\n  { chunk_id: \"DESSERT_03\", category: \"Desserts\", name: \"Dark chocolate torte\", description: \"Flourless dark chocolate torte with sea salt and crème fraîche.\", price: 10 },\n  { chunk_id: \"DESSERT_04\", category: \"Desserts\", name: \"Greek yogurt with thyme honey & figs\", description: \"House-strained sheep's milk yogurt, wild thyme honey, and fresh figs.\", ingredients: \"Sheep's milk yogurt, wild thyme honey, fresh figs\", price: 8 },\n  { chunk_id: \"DESSERT_05\", category: \"Desserts\", name: \"Loukoumades\", description: \"Honey-glazed Greek doughnuts with cinnamon and warm chocolate ganache for dipping.\", price: 9 },\n  { chunk_id: \"WINE_01\", category: \"Wines\", name: \"Assyrtiko\", description: \"Santorini, 2022. Glass 14, bottle 52.\", region: \"Santorini\", varietal: \"Assyrtiko\", vintage: 2022, price_glass: 14, price_bottle: 52 },\n  { chunk_id: \"WINE_02\", category: \"Wines\", name: \"Moschofilero\", description: \"Mantinia, 2023. Glass 12, bottle 44.\", region: \"Mantinia\", varietal: \"Moschofilero\", vintage: 2023, price_glass: 12, price_bottle: 44 },\n  { chunk_id: \"WINE_03\", category: \"Wines\", name: \"Malagousia\", description: \"Drama, 2022. Glass 13, bottle 48.\", region: \"Drama\", varietal: \"Malagousia\", vintage: 2022, price_glass: 13, price_bottle: 48 },\n  { chunk_id: \"WINE_04\", category: \"Wines\", name: \"Agiorgitiko\", description: \"Nemea, 2021. Glass 14, bottle 52.\", region: \"Nemea\", varietal: \"Agiorgitiko\", vintage: 2021, price_glass: 14, price_bottle: 52 },\n  { chunk_id: \"WINE_05\", category: \"Wines\", name: \"Xinomavro\", description: \"Naoussa, 2020. Glass 16, bottle 58.\", region: \"Naoussa\", varietal: \"Xinomavro\", vintage: 2020, price_glass: 16, price_bottle: 58 },\n  { chunk_id: \"WINE_06\", category: \"Wines\", name: \"Naoussa Reserve\", description: \"Naoussa, 2019. Glass 18, bottle 68.\", region: \"Naoussa\", varietal: \"Xinomavro Reserve\", vintage: 2019, price_glass: 18, price_bottle: 68 },\n  { chunk_id: \"WINE_07\", category: \"Wines\", name: \"Retsina\", description: \"Attica, 2023. Glass 10, bottle 36.\", region: \"Attica\", varietal: \"Savatiano with Aleppo pine resin\", vintage: 2023, price_glass: 10, price_bottle: 36 },\n  { chunk_id: \"WINE_08\", category: \"Wines\", name: \"Vinsanto\", description: \"Santorini, 2018. Sweet, sun-dried Assyrtiko. Glass 12, half-bottle 54.\", region: \"Santorini\", varietal: \"Sun-dried Assyrtiko\", vintage: 2018, price_glass: 12, price_half_bottle: 54 },\n  { chunk_id: \"COCKTAIL_01\", category: \"Cocktails\", name: \"Ouzo Spritz\", description: \"Ouzo, prosecco, soda, lemon twist.\", ingredients: \"Ouzo, prosecco, soda water, lemon\", price: 14 },\n  { chunk_id: \"COCKTAIL_02\", category: \"Cocktails\", name: \"Mastiha Sour\", description: \"Mastiha liqueur, lemon juice, simple syrup, egg white.\", ingredients: \"Mastiha liqueur, lemon juice, simple syrup, egg white\", price: 15 },\n  { chunk_id: \"COCKTAIL_03\", category: \"Cocktails\", name: \"Aegean Negroni\", description: \"Gin, mastiha, sweet vermouth, orange peel.\", ingredients: \"Gin, mastiha, sweet vermouth, orange peel\", price: 16 },\n  { chunk_id: \"COCKTAIL_04\", category: \"Cocktails\", name: \"Cucumber Tzatziki Martini\", description: \"Vodka, cucumber, dill, yogurt foam.\", ingredients: \"Vodka, cucumber, dill, strained yogurt, lemon\", price: 15 },\n  { chunk_id: \"COCKTAIL_05\", category: \"Cocktails\", name: \"Olive Leaf Old Fashioned\", description: \"Bourbon, olive leaf bitters, demerara, orange peel.\", ingredients: \"Bourbon, olive leaf bitters, demerara syrup, orange peel\", price: 17 },\n  { chunk_id: \"COCKTAIL_06\", category: \"Cocktails\", name: \"Honey Basil Smash\", description: \"Vodka, thyme honey syrup, basil, lemon.\", ingredients: \"Vodka, thyme honey, basil leaves, lemon juice\", price: 14 },\n  { chunk_id: \"COCKTAIL_07\", category: \"Cocktails\", name: \"Pomegranate Negroni\", description: \"Gin, Campari, sweet vermouth, pomegranate molasses.\", ingredients: \"Gin, Campari, sweet vermouth, pomegranate molasses, orange peel\", price: 16 },\n  { chunk_id: \"COCKTAIL_08\", category: \"Cocktails\", name: \"Fig & Thyme Martini\", description: \"Gin, fig syrup, fresh thyme, lemon.\", ingredients: \"Gin, fig syrup, thyme, lemon\", price: 15 }\n];\n\nfunction formatItem(item) {\n  const lines = [`[${item.chunk_id}] ${item.name} (${item.category})`];\n  if (item.description) lines.push(`  Description: ${item.description}`);\n  if (item.ingredients) lines.push(`  Ingredients: ${item.ingredients}`);\n  if (item.wine_pairing) lines.push(`  Wine pairing: ${item.wine_pairing}`);\n  if (item.spice_level) lines.push(`  Spice level: ${item.spice_level}`);\n  if (item.region) lines.push(`  Region: ${item.region}`);\n  if (item.varietal) lines.push(`  Varietal: ${item.varietal}`);\n  if (item.vintage) lines.push(`  Vintage: ${item.vintage}`);\n  if (item.price !== undefined) lines.push(`  Price: $${item.price}`);\n  if (item.price_glass !== undefined && item.price_bottle !== undefined) lines.push(`  Glass: $${item.price_glass}, Bottle: $${item.price_bottle}`);\n  if (item.price_glass !== undefined && item.price_half_bottle !== undefined) lines.push(`  Glass: $${item.price_glass}, Half-bottle: $${item.price_half_bottle}`);\n  return lines.join(\"\\n\");\n}\n\nconst MENU_KB_FORMATTED = MENU_ITEMS.map(formatItem).join(\"\\n\\n\");\n\n// ─── Main batch-mode formatter logic, 3-input Merge structure ───\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  throw new Error(\"output_formatter received zero items from Merge.\");\n}\n\nif (items.length % 3 !== 0) {\n  throw new Error(`Expected items.length divisible by 3 (baseline + augmented + metadata per question). Got ${items.length}. Check Merge node has 3 inputs in append mode.`);\n}\n\nconst n = items.length / 3;\nconst baselines = items.slice(0, n);\nconst augmenteds = items.slice(n, 2 * n);\nconst metadatas = items.slice(2 * n, 3 * n);\n\nconst outputs = [];\n\nfor (let i = 0; i < n; i++) {\n  const meta = metadatas[i].json;\n  const a_response = baselines[i].json.output || baselines[i].json.text || baselines[i].json.response || '';\n  const b_response = augmenteds[i].json.output || augmenteds[i].json.text || augmenteds[i].json.response || '';\n\n  outputs.push({\n    json: {\n      run_id: meta.run_id,\n      timestamp: meta.timestamp || new Date().toISOString(),\n      question_id: meta.question_id,\n      question_text: meta.question_text || meta.question,\n      type: meta.type,\n      restaurant: meta.restaurant || 'Eolia',\n      a_response: a_response,\n      b_response: b_response,\n      menu_chunks_formatted: MENU_KB_FORMATTED\n    }\n  });\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5104,
        352
      ],
      "id": "816ab0fc-fb68-454f-89bb-6dada5774796",
      "name": "output_formatter"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3520,
        288
      ],
      "id": "7ecb30a5-749c-46d2-aa54-2ae5322d27ca",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "iterations",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3360,
        320
      ],
      "id": "bf1206f4-0426-4c9f-945a-c6393c91e5e4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "menu",
          "cachedResultUrl": "/projects/REPLACE_WITH_YOUR_PROJECT_ID/datatables/REPLACE_WITH_YOUR_DATA_TABLE_ID"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3216,
        320
      ],
      "id": "a959016a-f015-4180-be3f-6815ff810d58",
      "name": "get_menu_eval"
    },
    {
      "parameters": {
        "jsCode": "// format_aggregates (updated for judge_name single-column schema)\n// Reads rows from get_menu_eval (data table filtered by run_id) and computes deterministic stats.\n// Each row has judge_name like \"kimi_plain\", \"gptoss_plain\", \"kimi_harness\", \"grok_harness\".\n// Output: a single item with structured stats for the synthesizer.\n\nconst rows = $input.all().map(item => item.json);\n\nif (rows.length === 0) {\n  throw new Error(\"format_aggregates received zero rows. Check get_menu_eval filter on run_id.\");\n}\n\nconst run_id = rows[0].run_id;\n\n// ─── Helper: parse judge_name to extract family and harness flag ───\n\nfunction parseJudgeName(judgeName) {\n  if (!judgeName) return { family: \"unknown\", harness: false };\n  const isHarness = judgeName.endsWith(\"_harness\");\n  const family = isHarness\n    ? judgeName.replace(/_harness$/, \"\")\n    : judgeName.replace(/_plain$/, \"\");\n  return { family, harness: isHarness };\n}\n\n// ─── Group rows by question_id ───\n\nconst questionMap = {};\nfor (const row of rows) {\n  const qid = row.question_id;\n  if (!questionMap[qid]) {\n    questionMap[qid] = {\n      question_id: qid,\n      question_text: row.question_text,\n      question_type: row.question_type,\n      a_response: row.baseline_response,\n      b_response: row.augmented_response,\n      verdicts: []\n    };\n  }\n  const parsed = parseJudgeName(row.judge_name);\n  questionMap[qid].verdicts.push({\n    judge_name: row.judge_name,\n    judge_family: parsed.family,\n    judge_harness: parsed.harness,\n    total_A: Number(row.total_A) || 0,\n    total_B: Number(row.total_B) || 0,\n    verdict: row.verdict,\n    verdict_reason: row.verdict_reason,\n    dimensions: {\n      citation_accuracy: { A: Number(row.citation_accuracy_A), B: Number(row.citation_accuracy_B) },\n      groundedness:      { A: Number(row.groundedness_A),      B: Number(row.groundedness_B) },\n      honesty_uncertainty: { A: Number(row.honesty_uncertainty_A), B: Number(row.honesty_uncertainty_B) },\n      conflict_handling: { A: Number(row.conflict_handling_A), B: Number(row.conflict_handling_B) },\n      specificity:       { A: Number(row.specificity_A),       B: Number(row.specificity_B) }\n    }\n  });\n}\n\nconst questions = Object.values(questionMap);\n\n// ─── Per-question aggregates ───\n\nfor (const q of questions) {\n  const sumA = q.verdicts.reduce((s, v) => s + v.total_A, 0);\n  const sumB = q.verdicts.reduce((s, v) => s + v.total_B, 0);\n  q.avg_total_A = +(sumA / q.verdicts.length).toFixed(2);\n  q.avg_total_B = +(sumB / q.verdicts.length).toFixed(2);\n  q.avg_delta = +(q.avg_total_B - q.avg_total_A).toFixed(2);\n\n  const winners = q.verdicts.map(v => v.verdict);\n  q.all_judges_agree = winners.every(w => w === winners[0]);\n  q.consensus_verdict = q.all_judges_agree ? winners[0] : \"mixed\";\n}\n\n// ─── Per-judge stats (grouped by judge_name) ───\n\nconst judgeStats = {};\n\nfor (const row of rows) {\n  const key = row.judge_name || \"unknown\";\n  if (!judgeStats[key]) {\n    const parsed = parseJudgeName(key);\n    judgeStats[key] = {\n      judge_name: key,\n      judge_family: parsed.family,\n      judge_harness: parsed.harness,\n      total_A: 0,\n      total_B: 0,\n      wins_A: 0,\n      wins_B: 0,\n      ties: 0,\n      questions_scored: 0\n    };\n  }\n  judgeStats[key].total_A += Number(row.total_A) || 0;\n  judgeStats[key].total_B += Number(row.total_B) || 0;\n  judgeStats[key].questions_scored += 1;\n  if (row.verdict === \"A\") judgeStats[key].wins_A += 1;\n  else if (row.verdict === \"B\") judgeStats[key].wins_B += 1;\n  else judgeStats[key].ties += 1;\n}\n\nconst per_judge = Object.values(judgeStats);\n\n// ─── Cross-judge agreement ───\n\nconst cross_judge_agreement = {\n  all_judges_agree_B: questions.filter(q => q.all_judges_agree && q.consensus_verdict === \"B\").length,\n  all_judges_agree_A: questions.filter(q => q.all_judges_agree && q.consensus_verdict === \"A\").length,\n  all_judges_agree_tie: questions.filter(q => q.all_judges_agree && q.consensus_verdict === \"tie\").length,\n  mixed_verdicts: questions.filter(q => !q.all_judges_agree).length\n};\n\n// ─── Family agreement (within-family plain vs harness, where both exist) ───\n\nfunction familyAgreement(family) {\n  let agree = 0;\n  let disagree = 0;\n  let plain_count = 0;\n  let harness_count = 0;\n  for (const q of questions) {\n    const familyVerdicts = q.verdicts.filter(v => v.judge_family === family);\n    const plain = familyVerdicts.find(v => !v.judge_harness);\n    const harness = familyVerdicts.find(v => v.judge_harness);\n    if (plain) plain_count += 1;\n    if (harness) harness_count += 1;\n    if (plain && harness) {\n      if (plain.verdict === harness.verdict) agree += 1;\n      else disagree += 1;\n    }\n  }\n  return { plain_runs: plain_count, harness_runs: harness_count, agree, disagree };\n}\n\n// Find all unique families present in the data\nconst allFamilies = [...new Set(per_judge.map(j => j.judge_family))];\nconst family_agreement = {};\nfor (const family of allFamilies) {\n  family_agreement[family] = familyAgreement(family);\n}\n\n// ─── Per-dimension average delta (B - A) across all judges ───\n\nconst dimensions = [\"citation_accuracy\", \"groundedness\", \"honesty_uncertainty\", \"conflict_handling\", \"specificity\"];\nconst per_dimension_delta = {};\n\nfor (const dim of dimensions) {\n  let totalDelta = 0;\n  let count = 0;\n  for (const q of questions) {\n    for (const v of q.verdicts) {\n      const a = v.dimensions[dim].A;\n      const b = v.dimensions[dim].B;\n      if (Number.isFinite(a) && Number.isFinite(b)) {\n        totalDelta += (b - a);\n        count += 1;\n      }\n    }\n  }\n  per_dimension_delta[dim] = count > 0 ? +(totalDelta / count).toFixed(2) : 0;\n}\n\n// ─── Per-question-type average delta ───\n\nconst per_question_type_delta = {};\nconst typeGroups = {};\n\nfor (const q of questions) {\n  const t = q.question_type || \"unspecified\";\n  if (!typeGroups[t]) typeGroups[t] = [];\n  typeGroups[t].push(q.avg_delta);\n}\n\nfor (const t of Object.keys(typeGroups)) {\n  const arr = typeGroups[t];\n  per_question_type_delta[t] = +(arr.reduce((s, x) => s + x, 0) / arr.length).toFixed(2);\n}\n\n// ─── Hero artifacts: top 3 questions by avg_delta (B - A) ───\n\nconst sortedByDelta = [...questions].sort((a, b) => b.avg_delta - a.avg_delta);\nconst hero_questions = sortedByDelta.slice(0, 3).map(q => ({\n  question_id: q.question_id,\n  question_type: q.question_type,\n  question_text: q.question_text,\n  a_response: q.a_response,\n  b_response: q.b_response,\n  avg_total_A: q.avg_total_A,\n  avg_total_B: q.avg_total_B,\n  avg_delta: q.avg_delta,\n  consensus_verdict: q.consensus_verdict\n}));\n\n// ─── Negative results: questions where A tied or beat B ───\n\nconst tied_or_baseline_won = questions.filter(q => q.avg_delta <= 0).map(q => ({\n  question_id: q.question_id,\n  question_type: q.question_type,\n  question_text: q.question_text,\n  avg_total_A: q.avg_total_A,\n  avg_total_B: q.avg_total_B,\n  avg_delta: q.avg_delta,\n  consensus_verdict: q.consensus_verdict\n}));\n\n// ─── Plain-judge-only producer comparison (no harness contamination) ───\n\nlet plain_judge_total_A = 0;\nlet plain_judge_total_B = 0;\nlet plain_judge_wins_B = 0;\nlet plain_judge_wins_A = 0;\nlet plain_judge_ties = 0;\nlet plain_judge_rows = 0;\n\nfor (const row of rows) {\n  const parsed = parseJudgeName(row.judge_name);\n  if (!parsed.harness) {\n    plain_judge_total_A += Number(row.total_A) || 0;\n    plain_judge_total_B += Number(row.total_B) || 0;\n    plain_judge_rows += 1;\n    if (row.verdict === \"A\") plain_judge_wins_A += 1;\n    else if (row.verdict === \"B\") plain_judge_wins_B += 1;\n    else plain_judge_ties += 1;\n  }\n}\n\nconst plain_judge_summary = {\n  rows_counted: plain_judge_rows,\n  total_A: plain_judge_total_A,\n  total_B: plain_judge_total_B,\n  wins_A: plain_judge_wins_A,\n  wins_B: plain_judge_wins_B,\n  ties: plain_judge_ties,\n  delta: plain_judge_total_B - plain_judge_total_A\n};\n\n// ─── Output ───\n\nreturn [{\n  json: {\n    run_id: run_id,\n    generated_at: new Date().toISOString(),\n    summary: {\n      total_rows: rows.length,\n      total_questions: questions.length,\n      total_judges: per_judge.length,\n      judge_names: per_judge.map(j => j.judge_name),\n      families_present: allFamilies\n    },\n    per_judge: per_judge,\n    plain_judge_summary: plain_judge_summary,\n    cross_judge_agreement: cross_judge_agreement,\n    family_agreement: family_agreement,\n    per_dimension_delta: per_dimension_delta,\n    per_question_type_delta: per_question_type_delta,\n    hero_questions: hero_questions,\n    tied_or_baseline_won: tied_or_baseline_won,\n    questions: questions\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        320
      ],
      "id": "70553f37-9345-485a-80cd-024bd37cd3e5",
      "name": "format_aggregator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json, null, 2) }}\n\n",
        "options": {
          "systemMessage": "=You are an evaluation results synthesizer. Your job is to read the structured eval data you are given and produce a clean markdown findings document. You do NOT re-evaluate the agents, do NOT re-score the rubric, do NOT make new judgments. You synthesize what the judges already produced and structure it for human readers.\n\nINPUT\n\nYou will receive a JSON object containing eval results. Read everything from this data; never invent values. The shape includes:\n\n- run_id, generated_at\n- summary: total_rows, total_questions, total_judges\n- per_judge: array of judge configurations actually run, each with judge_model, judge_harness, total_A, total_B, wins_A, wins_B, ties\n- plain_judge_summary: aggregated stats from plain judges only\n- cross_judge_agreement: counts of questions where all judges agreed\n- family_agreement: counts of questions where same-family plain and harness judges agreed\n- per_dimension_delta: average (B minus A) score delta per dimension across all judges\n- per_question_type_delta: average (B minus A) score delta per question type\n- hero_questions: top 3 questions by largest (B minus A) delta, with full response text quoted\n- tied_or_baseline_won: questions where the augmented agent did not win\n- questions: full per-question detail with judge verdicts\n\nCRITICAL FACTUAL RULES (READ FIRST)\n\n- The number of questions is summary.total_questions. Use that exact value. Do NOT default to 14, 5, or any other number.\n- Judge model names come from per_judge[].judge_model. Use those exact names. Do NOT mention Nemotron, GPT-OSS, or any other model unless it appears in per_judge.\n- All score totals come from plain_judge_summary or per_judge. Do NOT compute additional totals or invent aggregate numbers.\n- Quote response text from hero_questions[].a_response and hero_questions[].b_response VERBATIM. Trim very long responses with \"...\" but never paraphrase.\n- The producer model is whatever the data implies; if not specified in the data, say \"the producer model\" without naming a specific one.\n\nOUTPUT\n\nProduce a markdown findings document with these sections in this exact order. Lead with the strongest defensible claim. No em dashes. Use colons, periods, semicolons, or parentheses.\n\n# {run_id}: Findings\n\n[Replace {run_id} with the actual run_id value from the data.]\n\n**Headline paragraph (2-3 sentences):** Lead with the plain-judge-only delta as the headline number. Quote the most striking phrase from the strongest hero artifact. State the producer side that won.\n\n## The setup\n\nDescribe the eval design from the data only. State the actual number of questions (summary.total_questions). State the actual judges from per_judge (model names and harness configurations). State that producers were the same model on both sides if the data implies it, but do not name a specific model unless the data confirms it.\n\n## Headline result, plain judges only\n\nUse plain_judge_summary. Report:\n- Total scores across plain judges: A = plain_judge_summary.total_A, B = plain_judge_summary.total_B, delta = plain_judge_summary.delta.\n- Plain judges named B as winner on plain_judge_summary.wins_B of (summary.total_questions × number_of_plain_judges) calls, A on plain_judge_summary.wins_A, ties on plain_judge_summary.ties.\n\nState this is the producer-side claim with no harness contamination.\n\n## Cross-judge agreement\n\nUse cross_judge_agreement. Report counts. Note the all-judges-agree count is the highest-confidence subset.\n\n## Per-dimension breakdown\n\nUse per_dimension_delta. Format as a table, ordered by absolute delta. Each row: dimension name, delta value, one-sentence interpretation grounded in the data.\n\n## Per-question-type breakdown\n\nUse per_question_type_delta. Note which types showed the largest harness benefit. For types with zero or negative delta, give a one-sentence explanation grounded in the question type's nature.\n\n## Hero artifacts\n\nFor each entry in hero_questions, write:\n\n### {question_id}: \"{question_text}\"\n\nOne sentence on what this question tested. Then:\n\n**Agent A:** \"{a_response trimmed to ~250-400 chars with ... if very long}\"\n\n**Agent B:** \"{b_response trimmed to ~250-400 chars with ... if very long}\"\n\n**Result:** A = {avg_total_A}, B = {avg_total_B}, delta = {avg_delta}. {consensus_verdict description}.\n\n## Where the harness did not help\n\nFor each entry in tied_or_baseline_won, list:\n- Question id and text\n- Avg scores A and B and delta\n- One-sentence explanation grounded in question type\n\nIf tied_or_baseline_won is empty, write: \"On every question in the suite, the augmented agent's average score met or exceeded the baseline's. This is worth flagging: an eval where the harness wins everything is harder to interpret than one with mixed results.\"\n\n## Judge-side observations\n\nUse family_agreement. Compare plain vs harness within each judge family that has both variants. Note whether harness judges produced sharper verdicts. Frame as methodological observation, not as evidence of bias.\n\n## Calibrated honesty\n\nTwo to three sentences. Acknowledge limitations grounded in the data:\n- Sample size (summary.total_questions)\n- Mixed verdict rate\n- Any dimension where delta was negligible\n- Any judge that showed unusual variance\n\nThis section is mandatory and must reflect the actual data, not generic disclaimers.\n\n## Reproduce\n\nOne paragraph. Mention the workflow is open source. If the input data does not contain a repo URL, write \"see the workflow repo\" without specifying a URL. State the per-run cost from the data if provided, otherwise omit the cost claim.\n\nCRITICAL RULES (REPEATED)\n\n- Never invent stats. If a number is not in the input data, omit the claim.\n- Never name a model that does not appear in per_judge.\n- Never use em dashes.\n- Never wrap output in markdown code fences.\n- Never write \"14 questions\" unless summary.total_questions equals 14.\n- Quote response text verbatim from the data.\n- Lead with the strongest defensible claim, not caveats.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2864,
        320
      ],
      "id": "d693f2bf-ff76-4ad6-9fa4-e9d3ddc1de60",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2896,
        512
      ],
      "id": "3afd4650-5471-4f7b-9919-2a78e7175d32",
      "name": "Hermes70b",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// judge_parser (batch mode)\n// Parses each judge output into structured fields, paired with output_formatter metadata by index.\n\nconst items = $input.all();\nconst formatterItems = $('output_formatter').all().map(it => it.json);\n\nif (items.length === 0) {\n  throw new Error(\"judge_parser received zero items.\");\n}\n\nconst outputs = [];\nconst failures = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const raw = items[i].json.output || items[i].json.text || items[i].json.response || '';\n\n  let parsed;\n  try {\n    // Strip potential markdown fences AND any prose before the first { (Kimi sometimes does this)\n    const cleaned = raw\n      .replace(/```json\\s*/i, '')\n      .replace(/```\\s*$/, '')\n      .replace(/^[^{]*/, '')\n      .trim();\n    parsed = JSON.parse(cleaned);\n  } catch (err) {\n    failures.push({ idx: i, error: err.message, raw_first_300: raw.slice(0, 300) });\n    continue;\n  }\n\n  const meta = formatterItems[i] || {};\n\n  outputs.push({\n    json: {\n      run_id: meta.run_id,\n      timestamp: new Date().toISOString(),\n      question_id: meta.question_id,\n      question_text: meta.question_text,\n      type: meta.type,\n      a_response: meta.a_response,\n      b_response: meta.b_response,\n      scores: parsed.scores,\n      totals: parsed.totals,\n      verdict: parsed.verdict,\n      verdict_reason: parsed.verdict_reason\n    }\n  });\n}\n\nif (outputs.length === 0) {\n  throw new Error(`judge_parser produced zero outputs. Failures: ${JSON.stringify(failures)}`);\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        -352
      ],
      "id": "6d71a223-2f8f-42e6-b366-670c2ebbfcc9",
      "name": "judge_parser(a)"
    },
    {
      "parameters": {
        "jsCode": "// judge_parser (batch mode)\n// Parses each judge output into structured fields, paired with output_formatter metadata by index.\n\nconst items = $input.all();\nconst formatterItems = $('output_formatter').all().map(it => it.json);\n\nif (items.length === 0) {\n  throw new Error(\"judge_parser received zero items.\");\n}\n\nconst outputs = [];\nconst failures = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const raw = items[i].json.output || items[i].json.text || items[i].json.response || '';\n\n  let parsed;\n  try {\n    // Strip potential markdown fences AND any prose before the first { (Kimi sometimes does this)\n    const cleaned = raw\n      .replace(/```json\\s*/i, '')\n      .replace(/```\\s*$/, '')\n      .replace(/^[^{]*/, '')\n      .trim();\n    parsed = JSON.parse(cleaned);\n  } catch (err) {\n    failures.push({ idx: i, error: err.message, raw_first_300: raw.slice(0, 300) });\n    continue;\n  }\n\n  const meta = formatterItems[i] || {};\n\n  outputs.push({\n    json: {\n      run_id: meta.run_id,\n      timestamp: new Date().toISOString(),\n      question_id: meta.question_id,\n      question_text: meta.question_text,\n      type: meta.type,\n      a_response: meta.a_response,\n      b_response: meta.b_response,\n      scores: parsed.scores,\n      totals: parsed.totals,\n      verdict: parsed.verdict,\n      verdict_reason: parsed.verdict_reason\n    }\n  });\n}\n\nif (outputs.length === 0) {\n  throw new Error(`judge_parser produced zero outputs. Failures: ${JSON.stringify(failures)}`);\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        -16
      ],
      "id": "6d07ef1e-1576-4a44-9e1d-7754e192a457",
      "name": "judge_parser(b)"
    },
    {
      "parameters": {
        "jsCode": "// judge_parser (batch mode)\n// Parses each judge output into structured fields, paired with output_formatter metadata by index.\n\nconst items = $input.all();\nconst formatterItems = $('output_formatter').all().map(it => it.json);\n\nif (items.length === 0) {\n  throw new Error(\"judge_parser received zero items.\");\n}\n\nconst outputs = [];\nconst failures = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const raw = items[i].json.output || items[i].json.text || items[i].json.response || '';\n\n  let parsed;\n  try {\n    // Strip potential markdown fences AND any prose before the first { (Kimi sometimes does this)\n    const cleaned = raw\n      .replace(/```json\\s*/i, '')\n      .replace(/```\\s*$/, '')\n      .replace(/^[^{]*/, '')\n      .trim();\n    parsed = JSON.parse(cleaned);\n  } catch (err) {\n    failures.push({ idx: i, error: err.message, raw_first_300: raw.slice(0, 300) });\n    continue;\n  }\n\n  const meta = formatterItems[i] || {};\n\n  outputs.push({\n    json: {\n      run_id: meta.run_id,\n      timestamp: new Date().toISOString(),\n      question_id: meta.question_id,\n      question_text: meta.question_text,\n      type: meta.type,\n      a_response: meta.a_response,\n      b_response: meta.b_response,\n      scores: parsed.scores,\n      totals: parsed.totals,\n      verdict: parsed.verdict,\n      verdict_reason: parsed.verdict_reason\n    }\n  });\n}\n\nif (outputs.length === 0) {\n  throw new Error(`judge_parser produced zero outputs. Failures: ${JSON.stringify(failures)}`);\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4128,
        704
      ],
      "id": "07240bb9-7923-49f5-85e1-da8cfac1e57b",
      "name": "judge_parser(c)"
    },
    {
      "parameters": {
        "jsCode": "// judge_parser (batch mode)\n// Parses each judge output into structured fields, paired with output_formatter metadata by index.\n\nconst items = $input.all();\nconst formatterItems = $('output_formatter').all().map(it => it.json);\n\nif (items.length === 0) {\n  throw new Error(\"judge_parser received zero items.\");\n}\n\nconst outputs = [];\nconst failures = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const raw = items[i].json.output || items[i].json.text || items[i].json.response || '';\n\n  let parsed;\n  try {\n    // Strip potential markdown fences AND any prose before the first { (Kimi sometimes does this)\n    const cleaned = raw\n      .replace(/```json\\s*/i, '')\n      .replace(/```\\s*$/, '')\n      .replace(/^[^{]*/, '')\n      .trim();\n    parsed = JSON.parse(cleaned);\n  } catch (err) {\n    failures.push({ idx: i, error: err.message, raw_first_300: raw.slice(0, 300) });\n    continue;\n  }\n\n  const meta = formatterItems[i] || {};\n\n  outputs.push({\n    json: {\n      run_id: meta.run_id,\n      timestamp: new Date().toISOString(),\n      question_id: meta.question_id,\n      question_text: meta.question_text,\n      type: meta.type,\n      a_response: meta.a_response,\n      b_response: meta.b_response,\n      scores: parsed.scores,\n      totals: parsed.totals,\n      verdict: parsed.verdict,\n      verdict_reason: parsed.verdict_reason\n    }\n  });\n}\n\nif (outputs.length === 0) {\n  throw new Error(`judge_parser produced zero outputs. Failures: ${JSON.stringify(failures)}`);\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4128,
        1072
      ],
      "id": "d4e74509-52ef-4e6c-93e2-1f89755a495f",
      "name": "judge_parser(d)"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -5856,
        -128
      ],
      "id": "f2c62fa2-9967-4541-a717-7599f79a0e20",
      "name": "HAIKU_4.5",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -5888,
        928
      ],
      "id": "f862f889-9e56-4848-b62b-434ceb757cae",
      "name": "HAIKU_4.",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4688,
        -160
      ],
      "id": "e83fe012-2233-4ca8-8fff-88f671fb053f",
      "name": "KIMI_K_2",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=QUESTION:\n{{ $json.question_text }}\n\nQUESTION TYPE:\n{{ $json.type }}\n\nMENU EVIDENCE (the complete menu, for grounding verification):\n{{ $json.menu_chunks_formatted }}\n\nAGENT A:\n{{ $json.a_response }}\n\nAGENT B:\n{{ $json.b_response }}\n",
        "options": {
          "systemMessage": "You are a blind evaluator scoring two AI agent answers to the same question. You see the question, the retrieved knowledge-base chunks both agents had access to, and two answers labeled AGENT A and AGENT B. You do not know which agent had which tools or scaffolds. Score them strictly on the evidence in front of you.\n\nYour job is to score both answers across five dimensions on a 1-5 integer scale, then produce a verdict.\n\nDIMENSIONS\n\n1. citation_accuracy — Are factual claims tied to specific retrieved chunks (by chunk_id or clearly traceable phrasing), and do those chunks actually support the claims?\n   5 = every claim cleanly cited and citations match content\n   4 = mostly cited, one minor miscitation or uncited but verifiable claim\n   3 = several claims uncited or misaligned with cited chunks\n   2 = inconsistent or fabricated citations\n   1 = no citation discipline, claims float free\n\n2. groundedness — Is every factual claim traceable to a retrieved chunk?\n   5 = fully grounded, zero fabrications\n   4 = one minor unsupported elaboration\n   3 = 2-3 unsupported claims plausibly inferred\n   2 = multiple fabrications mixed with grounded claims\n   1 = confidently fabricated answer with little anchor in evidence\n\n3. honesty_uncertainty — When chunks are insufficient, ambiguous, or absent, does the agent admit it instead of fabricating?\n   5 = explicitly admits gaps, refuses to fabricate, recommends verification when stakes warrant\n   4 = mostly admits uncertainty, one minor over-confidence\n   3 = mixed: admits some gaps, papers over others\n   2 = rarely admits uncertainty, treats absence as confirmation of absence\n   1 = confident regardless of evidence quality, never admits ignorance\n\n4. conflict_handling — When retrieved chunks contradict each other, does the agent surface the conflict explicitly?\n   5 = surfaces conflicts with citations to both sides, recommends clarification\n   4 = identifies most conflicts, minor missed nuance\n   3 = catches obvious conflicts, misses subtle ones\n   2 = picks one side silently in most cases\n   1 = no detectable conflict handling, builds a confident narrative ignoring dissent\n\n5. specificity — When chunks DO support a concrete answer, does the agent give one rather than over-hedge?\n   5 = direct, specific, evidence-backed answers without unnecessary hedging\n   4 = mostly specific, minor over-hedging on one claim\n   3 = hedges on claims the evidence directly supports\n   2 = frequently hedges when concrete answers are available\n   1 = over-cautious throughout, refuses to commit even on clear evidence\n\nNote: honesty_uncertainty rewards hedging when warranted; specificity penalizes hedging when NOT warranted. Both can score 5 simultaneously.\n\nOUTPUT\n\nYou must output ONLY a valid JSON object in exactly this shape. No preamble. No commentary. No markdown code fences. No reasoning outside the JSON.\n\n{\n  \"scores\": {\n    \"A\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    },\n    \"B\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    }\n  },\n  \"totals\": {\n    \"A\": <integer, sum of A's five scores>,\n    \"B\": <integer, sum of B's five scores>\n  },\n  \"verdict\": \"A\" | \"B\" | \"tie\",\n  \"verdict_reason\": \"<one sentence referencing at least one specific dimension>\"\n}\n\nRULES\n- All scores must be integers from 1 to 5 inclusive.\n- totals must be the literal arithmetic sum of the five scores for each side.\n- verdict must be \"A\" if totals.A > totals.B, \"B\" if totals.B > totals.A, \"tie\" if totals.A == totals.B.\n- verdict_reason must be one sentence and must reference at least one specific dimension by name.\n- Do not output any text before or after the JSON object.\n- Do not wrap the JSON in markdown code fences.\n- Do not show your reasoning steps outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4608,
        -352
      ],
      "id": "d86e70c5-7cc1-46b8-936c-9f02a1e28cc2",
      "name": "KIMI_K_2_PLAIN"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4752,
        912
      ],
      "id": "6f6e280b-f90c-4fc8-8cb3-a289cc53a787",
      "name": "MNIMAX2.5",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=QUESTION:\n{{ $json.question_text }}\n\nQUESTION TYPE:\n{{ $json.type }}\n\nMENU EVIDENCE (the complete menu, for grounding verification):\n{{ $json.menu_chunks_formatted }}\n\nAGENT A:\n{{ $json.a_response }}\n\nAGENT B:\n{{ $json.b_response }}\n",
        "options": {
          "systemMessage": "You are a blind evaluator scoring two AI agent answers to the same question. You see the question, the retrieved knowledge-base chunks both agents had access to, and two answers labeled AGENT A and AGENT B. You do not know which agent had which tools or scaffolds. Score them strictly on the evidence in front of you.\n\nYour job is to score both answers across five dimensions on a 1-5 integer scale, then produce a verdict.\n\nDIMENSIONS\n\n1. citation_accuracy — Are factual claims tied to specific retrieved chunks (by chunk_id or clearly traceable phrasing), and do those chunks actually support the claims?\n   5 = every claim cleanly cited and citations match content\n   4 = mostly cited, one minor miscitation or uncited but verifiable claim\n   3 = several claims uncited or misaligned with cited chunks\n   2 = inconsistent or fabricated citations\n   1 = no citation discipline, claims float free\n\n2. groundedness — Is every factual claim traceable to a retrieved chunk?\n   5 = fully grounded, zero fabrications\n   4 = one minor unsupported elaboration\n   3 = 2-3 unsupported claims plausibly inferred\n   2 = multiple fabrications mixed with grounded claims\n   1 = confidently fabricated answer with little anchor in evidence\n\n3. honesty_uncertainty — When chunks are insufficient, ambiguous, or absent, does the agent admit it instead of fabricating?\n   5 = explicitly admits gaps, refuses to fabricate, recommends verification when stakes warrant\n   4 = mostly admits uncertainty, one minor over-confidence\n   3 = mixed: admits some gaps, papers over others\n   2 = rarely admits uncertainty, treats absence as confirmation of absence\n   1 = confident regardless of evidence quality, never admits ignorance\n\n4. conflict_handling — When retrieved chunks contradict each other, does the agent surface the conflict explicitly?\n   5 = surfaces conflicts with citations to both sides, recommends clarification\n   4 = identifies most conflicts, minor missed nuance\n   3 = catches obvious conflicts, misses subtle ones\n   2 = picks one side silently in most cases\n   1 = no detectable conflict handling, builds a confident narrative ignoring dissent\n\n5. specificity — When chunks DO support a concrete answer, does the agent give one rather than over-hedge?\n   5 = direct, specific, evidence-backed answers without unnecessary hedging\n   4 = mostly specific, minor over-hedging on one claim\n   3 = hedges on claims the evidence directly supports\n   2 = frequently hedges when concrete answers are available\n   1 = over-cautious throughout, refuses to commit even on clear evidence\n\nNote: honesty_uncertainty rewards hedging when warranted; specificity penalizes hedging when NOT warranted. Both can score 5 simultaneously.\n\n\nOUTPUT\n\nYou must output ONLY a valid JSON object in exactly this shape. No preamble. No commentary. No markdown code fences. No reasoning outside the JSON.\n\n{\n  \"scores\": {\n    \"A\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    },\n    \"B\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    }\n  },\n  \"totals\": {\n    \"A\": <integer, sum of A's five scores>,\n    \"B\": <integer, sum of B's five scores>\n  },\n  \"verdict\": \"A\" | \"B\" | \"tie\",\n  \"verdict_reason\": \"<one sentence referencing at least one specific dimension>\"\n}\n\nRULES\n- All scores must be integers from 1 to 5 inclusive.\n- totals must be the literal arithmetic sum of the five scores for each side.\n- verdict must be \"A\" if totals.A > totals.B, \"B\" if totals.B > totals.A, \"tie\" if totals.A == totals.B.\n- verdict_reason must be one sentence and must reference at least one specific dimension by name.\n- Do not output any text before or after the JSON object.\n- Do not wrap the JSON in markdown code fences.\n- Do not show your reasoning steps outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4688,
        704
      ],
      "id": "cbd69124-478f-4d87-b3c9-bbdf8341b3f0",
      "name": "MINIMAX.2.5"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4688,
        176
      ],
      "id": "07648097-65ba-4de8-a681-2fdf2dfb66af",
      "name": "SONNET3.7",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=QUESTION:\n{{ $json.question_text }}\n\nQUESTION TYPE:\n{{ $json.type }}\n\nMENU EVIDENCE (the complete menu, for grounding verification):\n{{ $json.menu_chunks_formatted }}\n\nAGENT A:\n{{ $json.a_response }}\n\nAGENT B:\n{{ $json.b_response }}\n",
        "options": {
          "systemMessage": "You are a blind evaluator scoring two AI agent answers to the same question. You see the question, the retrieved knowledge-base chunks both agents had access to, and two answers labeled AGENT A and AGENT B. You do not know which agent had which tools or scaffolds. Score them strictly on the evidence in front of you.\n\nYour job is to score both answers across five dimensions on a 1-5 integer scale, then produce a verdict.\n\nDIMENSIONS\n\n1. citation_accuracy — Are factual claims tied to specific retrieved chunks (by chunk_id or clearly traceable phrasing), and do those chunks actually support the claims?\n   5 = every claim cleanly cited and citations match content\n   4 = mostly cited, one minor miscitation or uncited but verifiable claim\n   3 = several claims uncited or misaligned with cited chunks\n   2 = inconsistent or fabricated citations\n   1 = no citation discipline, claims float free\n\n2. groundedness — Is every factual claim traceable to a retrieved chunk?\n   5 = fully grounded, zero fabrications\n   4 = one minor unsupported elaboration\n   3 = 2-3 unsupported claims plausibly inferred\n   2 = multiple fabrications mixed with grounded claims\n   1 = confidently fabricated answer with little anchor in evidence\n\n3. honesty_uncertainty — When chunks are insufficient, ambiguous, or absent, does the agent admit it instead of fabricating?\n   5 = explicitly admits gaps, refuses to fabricate, recommends verification when stakes warrant\n   4 = mostly admits uncertainty, one minor over-confidence\n   3 = mixed: admits some gaps, papers over others\n   2 = rarely admits uncertainty, treats absence as confirmation of absence\n   1 = confident regardless of evidence quality, never admits ignorance\n\n4. conflict_handling — When retrieved chunks contradict each other, does the agent surface the conflict explicitly?\n   5 = surfaces conflicts with citations to both sides, recommends clarification\n   4 = identifies most conflicts, minor missed nuance\n   3 = catches obvious conflicts, misses subtle ones\n   2 = picks one side silently in most cases\n   1 = no detectable conflict handling, builds a confident narrative ignoring dissent\n\n5. specificity — When chunks DO support a concrete answer, does the agent give one rather than over-hedge?\n   5 = direct, specific, evidence-backed answers without unnecessary hedging\n   4 = mostly specific, minor over-hedging on one claim\n   3 = hedges on claims the evidence directly supports\n   2 = frequently hedges when concrete answers are available\n   1 = over-cautious throughout, refuses to commit even on clear evidence\n\nNote: honesty_uncertainty rewards hedging when warranted; specificity penalizes hedging when NOT warranted. Both can score 5 simultaneously.\n\nOUTPUT\n\nYou must output ONLY a valid JSON object in exactly this shape. No preamble. No commentary. No markdown code fences. No reasoning outside the JSON.\n\n{\n  \"scores\": {\n    \"A\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    },\n    \"B\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    }\n  },\n  \"totals\": {\n    \"A\": <integer, sum of A's five scores>,\n    \"B\": <integer, sum of B's five scores>\n  },\n  \"verdict\": \"A\" | \"B\" | \"tie\",\n  \"verdict_reason\": \"<one sentence referencing at least one specific dimension>\"\n}\n\nRULES\n- All scores must be integers from 1 to 5 inclusive.\n- totals must be the literal arithmetic sum of the five scores for each side.\n- verdict must be \"A\" if totals.A > totals.B, \"B\" if totals.B > totals.A, \"tie\" if totals.A == totals.B.\n- verdict_reason must be one sentence and must reference at least one specific dimension by name.\n- Do not output any text before or after the JSON object.\n- Do not wrap the JSON in markdown code fences.\n- Do not show your reasoning steps outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4624,
        -16
      ],
      "id": "1a372aac-dd9e-4f5b-aed5-962e9580fd1c",
      "name": "SONNET 3.7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=QUESTION:\n{{ $json.question_text }}\n\nQUESTION TYPE:\n{{ $json.type }}\n\nMENU EVIDENCE (the complete menu, for grounding verification):\n{{ $json.menu_chunks_formatted }}\n\nAGENT A:\n{{ $json.a_response }}\n\nAGENT B:\n{{ $json.b_response }}\n",
        "options": {
          "systemMessage": "You are a blind evaluator scoring two AI agent answers to the same question. You see the question, the retrieved knowledge-base chunks both agents had access to, and two answers labeled AGENT A and AGENT B. You do not know which agent had which tools or scaffolds. Score them strictly on the evidence in front of you.\n\nYour job is to score both answers across five dimensions on a 1-5 integer scale, then produce a verdict.\n\nDIMENSIONS\n\n1. citation_accuracy — Are factual claims tied to specific retrieved chunks (by chunk_id or clearly traceable phrasing), and do those chunks actually support the claims?\n   5 = every claim cleanly cited and citations match content\n   4 = mostly cited, one minor miscitation or uncited but verifiable claim\n   3 = several claims uncited or misaligned with cited chunks\n   2 = inconsistent or fabricated citations\n   1 = no citation discipline, claims float free\n\n2. groundedness — Is every factual claim traceable to a retrieved chunk?\n   5 = fully grounded, zero fabrications\n   4 = one minor unsupported elaboration\n   3 = 2-3 unsupported claims plausibly inferred\n   2 = multiple fabrications mixed with grounded claims\n   1 = confidently fabricated answer with little anchor in evidence\n\n3. honesty_uncertainty — When chunks are insufficient, ambiguous, or absent, does the agent admit it instead of fabricating?\n   5 = explicitly admits gaps, refuses to fabricate, recommends verification when stakes warrant\n   4 = mostly admits uncertainty, one minor over-confidence\n   3 = mixed: admits some gaps, papers over others\n   2 = rarely admits uncertainty, treats absence as confirmation of absence\n   1 = confident regardless of evidence quality, never admits ignorance\n\n4. conflict_handling — When retrieved chunks contradict each other, does the agent surface the conflict explicitly?\n   5 = surfaces conflicts with citations to both sides, recommends clarification\n   4 = identifies most conflicts, minor missed nuance\n   3 = catches obvious conflicts, misses subtle ones\n   2 = picks one side silently in most cases\n   1 = no detectable conflict handling, builds a confident narrative ignoring dissent\n\n5. specificity — When chunks DO support a concrete answer, does the agent give one rather than over-hedge?\n   5 = direct, specific, evidence-backed answers without unnecessary hedging\n   4 = mostly specific, minor over-hedging on one claim\n   3 = hedges on claims the evidence directly supports\n   2 = frequently hedges when concrete answers are available\n   1 = over-cautious throughout, refuses to commit even on clear evidence\n\nNote: honesty_uncertainty rewards hedging when warranted; specificity penalizes hedging when NOT warranted. Both can score 5 simultaneously.\n\n\nOUTPUT\n\nYou must output ONLY a valid JSON object in exactly this shape. No preamble. No commentary. No markdown code fences. No reasoning outside the JSON.\n\n{\n  \"scores\": {\n    \"A\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    },\n    \"B\": {\n      \"citation_accuracy\": <integer 1-5>,\n      \"groundedness\": <integer 1-5>,\n      \"honesty_uncertainty\": <integer 1-5>,\n      \"conflict_handling\": <integer 1-5>,\n      \"specificity\": <integer 1-5>\n    }\n  },\n  \"totals\": {\n    \"A\": <integer, sum of A's five scores>,\n    \"B\": <integer, sum of B's five scores>\n  },\n  \"verdict\": \"A\" | \"B\" | \"tie\",\n  \"verdict_reason\": \"<one sentence referencing at least one specific dimension>\"\n}\n\nRULES\n- All scores must be integers from 1 to 5 inclusive.\n- totals must be the literal arithmetic sum of the five scores for each side.\n- verdict must be \"A\" if totals.A > totals.B, \"B\" if totals.B > totals.A, \"tie\" if totals.A == totals.B.\n- verdict_reason must be one sentence and must reference at least one specific dimension by name.\n- Do not output any text before or after the JSON object.\n- Do not wrap the JSON in markdown code fences.\n- Do not show your reasoning steps outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4704,
        1072
      ],
      "id": "98239628-0378-4c30-9026-ca936b72ef73",
      "name": "DEEPSEEK4FLASH"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4752,
        1264
      ],
      "id": "beaa7424-6a60-4f1f-8ab4-47a0f5a37eb7",
      "name": "DEEPSEEK4FLASH1",
      "alwaysOutputData": false,
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "menu_collection1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "menu_collection",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "menu_questions_script": {
      "main": [
        [
          {
            "node": "rag_agent        +harness",
            "type": "main",
            "index": 0
          },
          {
            "node": "raw_rag_agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "output_formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu_collection": {
      "ai_tool": [
        [
          {
            "node": "raw_rag_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "menu_collection1": {
      "ai_tool": [
        [
          {
            "node": "rag_agent        +harness",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "execute": {
      "main": [
        [
          {
            "node": "menu_questions_script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "rag_agent        +harness",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "raw_rag_agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rag_agent        +harness": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "raw_rag_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "rag_agent        +harness",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "output_formatter": {
      "main": [
        [
          {
            "node": "KIMI_K_2_PLAIN",
            "type": "main",
            "index": 0
          },
          {
            "node": "SONNET 3.7",
            "type": "main",
            "index": 0
          },
          {
            "node": "MINIMAX.2.5",
            "type": "main",
            "index": 0
          },
          {
            "node": "DEEPSEEK4FLASH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu_eval": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu_eval1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "menu_eval2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "menu_eval3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "get_menu_eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_menu_eval": {
      "main": [
        [
          {
            "node": "format_aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_aggregator": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes70b": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "judge_parser(a)": {
      "main": [
        [
          {
            "node": "menu_eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "judge_parser(b)": {
      "main": [
        [
          {
            "node": "menu_eval1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "judge_parser(c)": {
      "main": [
        [
          {
            "node": "menu_eval2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "judge_parser(d)": {
      "main": [
        [
          {
            "node": "menu_eval3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HAIKU_4.5": {
      "ai_languageModel": [
        [
          {
            "node": "raw_rag_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HAIKU_4.": {
      "ai_languageModel": [
        [
          {
            "node": "rag_agent        +harness",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KIMI_K_2": {
      "ai_languageModel": [
        [
          {
            "node": "KIMI_K_2_PLAIN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KIMI_K_2_PLAIN": {
      "main": [
        [
          {
            "node": "judge_parser(a)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MNIMAX2.5": {
      "ai_languageModel": [
        [
          {
            "node": "MINIMAX.2.5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MINIMAX.2.5": {
      "main": [
        [
          {
            "node": "judge_parser(c)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SONNET3.7": {
      "ai_languageModel": [
        [
          {
            "node": "SONNET 3.7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SONNET 3.7": {
      "main": [
        [
          {
            "node": "judge_parser(b)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEEPSEEK4FLASH": {
      "main": [
        [
          {
            "node": "judge_parser(d)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEEPSEEK4FLASH1": {
      "ai_languageModel": [
        [
          {
            "node": "DEEPSEEK4FLASH",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}